<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titile %><br>
    <%= f.text_field :titile, id: 'title' %>
    <div class="flash">
      入力された文字が10文字を超えてます
    </div>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, id: 'content' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
